# Exclude ALL CSV files
*.csv

# Exclude zip files
*.zip

# Input data folders
api_data_aadhar_biometric/
api_data_aadhar_demographic/
api_data_aadhar_enrolment/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Other
.DS_Store
*.log
